/* You can add global styles to this file, and also import other style files */
.header{
    background-color: #ec6100;
}
.header_wr{
    display: flex;
    align-items: center;
}
.logo{
    width: 30%;
}
.menu{
    margin: 0 auto;
}
.menu ul{
    padding: 0;
}
.menu ul li{
    list-style: none;
    display: inline-block;
    margin: 0px 12px;
}
.menu ul li a {
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    transition: .4s;
    color: #fff;
    letter-spacing: 1.5px;
}
.menu ul li a:hover{
    color: black;
}
.page-not-found{
    text-align: center;
}
.page-not-found p{
    color: blue;
}
strong{
    color: red;
}
.login-form{
    width: 100%;
    margin: 45px auto;
    text-align: center;
}
input[type="text"]{
    padding: 10px 15px;
}
.form-field{
    margin-bottom: 15px;
}
button{
    padding: 9px 32px;
    background: darkgreen;
    border: 0;
    color: #fff;
    font-weight: 700;
    letter-spacing: 3.4px;
    border-radius: 5px;
}